#items {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1.5rem;
}

#items li {
    background-color: whitesmoke;
    border-radius: 10%;
    height: 375px;
    list-style: none;
    position: relative;
    text-align: center;
    transition: transform 200ms ease-in-out;
    width: 275px;
}
li img {
    width: 250px;
}

#items li:hover {
    box-shadow: 2px 2px 3px;
    transform: translate3d(-1px, -1px, 0);
}

#price {
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    margin-bottom: 5px;
    position: absolute;
    right: 0;
}

.price button {
    background-color: lightblue;
    transition: color 200ms ease-in-out;
    border-radius: 10%;
    width: 50px;
    height: 25px;
}

.price button:hover {
    background: #aaa;
    color: white;
}