#frame {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: whitesmoke;
    width: 70%;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

#description {
    width: 300px;
    height: 100px;
}

#comments {
    width: 300px;
    height: 100px;
}

button {
    margin-bottom: 30px;
}